* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: whitesmoke;
  padding: 20% 10%;
  font-family: sans-serif;
}

#listContainer {
  background-color: white;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.2);
}

.icons {
  height: 1rem;
}

.header {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.1rem solid lightgray;
  padding: 1rem;
  width: 95%;
}

h1 {
  font-size: 1rem;
  color: #505050;
}

.addList {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.1rem solid lightgray;
  padding-right: 0 1rem;
}

.inputText {
  border: none;
  font-style: italic;
  font-size: 1rem;
  padding: 1rem;
}

.addButton {
  height: 0.5rem;
}

#list {
  display: flex;
  flex-direction: column;
}

.activity {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.1rem solid lightgray;
  padding: 1rem;
}

.activityDetail {
  display: inline-flex;
  align-items: center;
  gap: 7px;
  width: 100%;
}

input.checker {
  margin-right: 0.5rem;
}

.itemDescription {
  border: none;
  color: #505050;
  font-size: 1rem;
  padding: 1rem 0.5rem;
  width: 100%;
}

#clearBtn {
  border: none;
  background-color: #f1f1f1;
  color: darkgray;
  font-size: 1rem;
  padding: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* mobile screens */
@media (width > 768px) {
  body {
    padding: 15%;
  }

  h1 {
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
  }

  .icons {
    height: 1.5rem;
  }

  .inputText {
    font-size: 1.5rem;
    padding: 1.5rem 2rem;
  }

  .addButton {
    height: 1rem;
    padding-right: 1rem;
  }

  .activity {
    font-size: 1.5rem;
    padding: 0.25rem 0.5rem 0.25rem 2rem;
  }

  input.checker {
    height: 1.5rem;
    width: 1.5rem;
    border: 1rem solid #505050;
    margin-right: 1rem;
  }

  .itemDescription {
    font-size: 1.6rem;
    padding: 1.5rem 1rem;
  }

  #clearBtn {
    font-size: 1.5rem;
    padding: 2.5rem;
  }
}
